<app-navbar></app-navbar>
<br>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Country</th>
                    <th scope="col">Slogan</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of passengersData.airline">
                    <td>{{i.id}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.country}}</td>
                    <td>{{i.slogan}}</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>